h1 {
  margin: 20px;
}

.input-field{
  width: 100% ;
  padding: 8px;
  margin-bottom: 16px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.navbar-brand {
  max-width: 4rem;
  margin-right: 2rem;
}

.navbar-brand img {
  width: 100%;
  height: 100%;
  margin-right: 2rem;
  max-width: 4rem;
}

.navbar-dark {
  background-color: #901cad;
  background-image: linear-gradient(to right, #5637dd, #3046c5, #510e5a);
  margin-bottom: 2rem;
  min-height: 8rem;
}

form {
  margin-top: 20px;
}

.formRow {
  margin: 10px 0 20px 0;
  display: flex;
}

.formInput {
  padding: 15px 10px;
}

.errorMessage {
  color: #f45532;
  font-size: 14px;
  margin: 0;
  padding: 0;
}

.submit-btn {
  padding: 15px 50px;
  border-radius: 10px;
  margin-bottom: 25px;
}

@media (max-width: 768px) {
  .submit-message {
    width: 125px;
    margin-left: 200px;
  }
}

body {
  line-height: 26px;
  margin: 0;
}

.App {
  height: 75vh;
  margin-top: 15vh;
}